VITE_SUPABASE_URL=https://kgmyhtakhkilplsaufez.supabase.co
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_REX7vJ1kd2jDrLL6VGFRXA_nOnZeuW2
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtnbXlodGFraGtpbHBsc2F1ZmV6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5ODQyNTUsImV4cCI6MjA4ODU2MDI1NX0.1W-8JkW0AZ5zgrQLE9iQlVDPPlLKfWMmLr1w7j9PxEg
VITE_API_URL=http://localhost:8000/api
